{% extends 'adminlte/base.html' %} {% load static %} {% load widget_tweaks %}

<!-- Set title of app -->
{% block title %}Pagina Principal{% endblock %}

<!-- Specify content of main body of page -->
{% block content %} {% for gest in gestante %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Gestantes con detección positiva de violencia</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">{{ gest.distrito }}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content m-0 row justify-content-center">
  <div class="col-md-12">
    <div class="card card-widget widget-user shadow">
      <div class="widget-user-header bg-maroon text-white">
        <h3 class="widget-user-username text-center">GESTANTE CUENTAN CON DIAGNOSTICO E INICIAN TRATAMIENTO</h3>        
        <h4 class="widget-user-username text-left">Meta: {{ gest.int_violencia }}</h4>
        <h3 class="widget-user-desc text-right">
          <span class="badge bg-warning">
            <h3>{{ gest.por_int_violencia}}  %</h3>
          </span>
        </h3>        
      </div>
      <div class="widget-user-image">
        <img class="img-circle" src="{% static 'detener_violencia_90.png' %}" alt="User Avatar"/>
      </div>
    </br>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="image text-center">
              <img class="img-circle elevation-2" src="{% static 'registro_90.png' %}" alt="User Image"/>
              <h5 class="widget-user-desc">Ficha de deteccion de violencia contra la mujer</h5>
            </div>
          </div>

          <div class="col-sm-4 border-right">
            <div class="image text-center">
              <img class="img-circle elevation-2" src="{% static 'deteccion_90.png' %}" alt="User Image"/>
              <h5 class="widget-user-desc">Deteccion positiva violencia contra la mujer</h5>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="image text-center">
              <img class="img-circle elevation-2" src="{% static 'violencia_90.png' %}" alt="User Image"/>
              <h5 class="widget-user-desc">Cuentan con diagnostico e inician tratamiento</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <span>
                <h2>{{ gest.atendido }}</h2>
              </span>
              <span class="badge bg-success">
                <h2>{{ gest.por_atendido }} %</h2>
              </span>
            </div>
          </div>

          <div class="col-sm-4 border-right">
            <div class="description-block">
              <span>
                <h2>{{ gest.tamizaje }}</h2>
              </span>
              <span class="badge bg-warning">
                <h2>{{ gest.por_tamizaje }} %</h2>
              </span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="description-block">
              <span>
                <h2>{{ gest.violencia }}</h2>
              </span>
              <span class="badge bg-warning">
                <h2>{{ gest.por_violencia }} %</h2>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<h6 class="mb-2">Fuente de Informacion:<small><i> HIS MINSA y CNV EN LINEA</i></small> - Fecha de Actualizacion:<small><i> Mes de Setiembre</i></small></h6>
{% endfor %} 

<button class="btn btn-primary">Volver</button>
{% endblock %}
